@import "tailwindcss";

@theme {
  --color-primary: #fe7743;
  --color-background: #273f4f;
  --color-foreground: #efeeea;
  --color-background-dark: #000000;
}

@layer components {
  .shadow-custom {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .shadow-custom-hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }

  .card {
    @apply bg-background-dark;
  }

  .categories {
    @apply bg-foreground text-background-dark;
  }

  .btn {
    @apply px-4 py-2 border-2 border-foreground rounded-lg hover:bg-foreground hover:font-semibold hover:text-background-dark cursor-pointer transition-colors duration-200 ease-in-out;
  }

  .btn-inverse {
    @apply px-4 py-2 border-2 border-foreground bg-foreground font-medium text-background-dark rounded-lg 
    hover:bg-transparent  hover:text-foreground cursor-pointer transition-colors duration-200 ease-in-out;
  }
}

.font-body {
  font-family: "Montserrat", sans-serif;
}

.font-heading {
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: var(--color-background-dark);
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}
