@import "tailwindcss";

@theme {
  --color-primary: #fe7743;
  --color-primary-card: #ff9e60;
  --color-background: #273f4f;
  --color-foreground: #efeeea;
  --color-background-dark: #000000;
}

@layer components {
  .shadow-custom {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }

  .shadow-custom-hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  }

  .card {
    @apply bg-background-dark;
  }

  .categories {
    @apply bg-foreground text-background-dark;
  }

  .btn {
    @apply px-4 py-2 border-2 border-foreground rounded-lg hover:bg-foreground hover:font-semibold hover:text-background-dark cursor-pointer transition-colors duration-200 ease-in-out;
  }

  .btn-inverse {
    @apply px-4 py-2 border-2 border-foreground bg-foreground font-medium text-background-dark rounded-lg 
    hover:bg-transparent  hover:text-foreground cursor-pointer transition-colors duration-200 ease-in-out;
  }
}

.gradient-primary {
  background: linear-gradient(135deg, #fe7743, #ff9e60);
}

.slider {
  @apply appearance-none w-full h-8 bg-foreground border rounded-full;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none w-7 h-7 rounded-full  cursor-grab  shadow-md shadow-background-dark bg-gradient-to-br from-primary to-primary-card;
}

.slider::-moz-range-thumb {
  @apply w-7 h-7 rounded-full border-none cursor-grab  shadow-md shadow-background-dark bg-gradient-to-br from-primary to-primary-card;
}

.font-body {
  font-family: "Montserrat", sans-serif;
}

.font-heading {
  font-family: "Titillium Web", sans-serif;
}

body {
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #0d0d0d, var(--color-background-dark));
}
